<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Розклад Фото Студії</title>
    <link rel="stylesheet" href="Schedules.css">
</head>
<body>
<div class="schedule">
    <h1>Розклад Фото Студії</h1>
    <table>
        <thead>
        <tr>
            <th>День</th>
            <th>Час</th>
            <th>Подія</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Понеділок</td>
            <td>09:00 - 10:00</td>
            <td>Фотосесія: Весілля</td>
        </tr>
        <tr>
            <td>Понеділок</td>
            <td>10:30 - 11:30</td>
            <td>Фотосесія: Сімейна</td>
        </tr>
        <tr>
            <td>Вівторок</td>
            <td>11:00 - 12:00</td>
            <td>Студійна фотосесія</td>
        </tr>
        <tr>
            <td>Середа</td>
            <td>14:00 - 15:00</td>
            <td>Фотосесія: Дитяча</td>
        </tr>
        <tr>
            <td>Четвер</td>
            <td>16:00 - 17:00</td>
            <td>Корпоративне фото</td>
        </tr>
        <tr>
            <td>П'ятниця</td>
            <td>15:00 - 16:00</td>
            <td>Індивідуальна фотосесія</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

